.container-item{
  display: flex;
  flex-direction: row;
  padding-bottom: 4%;
  padding-left: 5%;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 22%;
  padding-top: 3%;
    & img{
    position:absolute;
    object-fit: cover;
  }
  & .img-1{
    opacity: 1;
    height: 400px;
    
  }
  & .img-2{
    opacity: 0;
    height: 400px;
  }
  & :hover .img-1{
    opacity: 0;
  }
  & :hover .img-2{
    opacity: 1;
  }
  & button{
    top: -7%;
    width: 52%;
    border-radius: 0px;
  }
}
.card {
  width: 65%;
  display: flex;
  align-items: center;
  height: 350px;
  padding: 1rem;
  justify-content: inherit;
  border: none;
  overflow: hidden;
  transition: transform 0.3s;
  cursor: pointer;
  & img {
    width: 80%;
  }
  
}
.example-card1{
  display: flex; 
  flex-direction: row;
  justify-content: start;
  padding-left: 8%;
  gap: 2rem;
  box-shadow: none;
  & img{
    border-radius: 0.75rem;
  } 
}
.first{
  width: 10%;
  gap: 2px;
  box-shadow: none;
}
.second{
  width: 27%;
  box-shadow: none;
}
.middle{
  padding: 1%;
}
.discount{
  width: 27%;
  box-shadow: none; 
  & img{
    width: 1060px;
    height: 77%;
  }
}
.discount-slider{
  display: none;
}

