<div class="main-container">
  <div class="card-container">
    <div class="card">
      <img src="https://www.mtoyjewels.com/cdn/shop/files/Mtoy_Raw_2607-scaled.jpg?v=1725974925&width=900" alt="">
      <img src="https://i.pinimg.com/564x/88/db/c4/88dbc486e94aac81de18cbf49228be8f.jpg">
      <button mat-raised-button (click)="onRings($event)">Rings</button>
    </div>
    <div class="card">
      <img src="https://i.pinimg.com/564x/c3/fc/54/c3fc54ffcd9a6b65007c083b47108c0c.jpg">
      <button mat-raised-button (click)="onNecklaces($event)">Necklaces</button>
    </div>
    <div class="card">
      <img src="https://i.pinimg.com/564x/0e/b5/80/0eb580be7461b0cf8e5b336c466ffa9e.jpg">
      <button mat-raised-button (click)="onEarrings($event)">Earrings</button>
    </div>
    <div class="card">
      <img src="https://i.pinimg.com/564x/88/1f/6f/881f6fb4c9d4bae6366175ee5fffe5a2.jpg">
      <button mat-raised-button (click)="onBracelet($event)">Bracelet</button>
    </div>
  </div>
  <mat-card class="example-card1">
    <mat-card class="first">
      <img mat-card-image src="https://www.nevjewellery.com/Data/BlockUploadData/banner/img1/351/9-tektas-yuzukler-3-tr.jpg?1699342969">
      <img mat-card-image src="https://www.nevjewellery.com/curio-073-ct-baget-pirlanta-tasli-ve-elmas-tasli-beyaz-altin-bileklik-baget-pirlanta-bileklik-ve-bilezik-nev-jewellery-19961-37-O.webp">
    </mat-card>
    <mat-card class="second">
      <img class="middle" src="https://res.cloudinary.com/kendra-scott/image/upload/q_auto,f_auto,dpr_auto/v1733171226/enhancedstorycomponents-imageuploader/TrendReport/2024/Holiday/Holiday%203/YR_Holiday.jpg" alt="neckless">
    </mat-card>
       <mat-card class="discount">
         <img mat-card-image  src="https://res.cloudinary.com/mejuri-com/image/upload/q_auto,f_auto/v1731611229/2024/Web%20Evergreen/November%20%7C%20Image%20Updates/StylingAppointment_StoreHub_ContentCard.jpg">
       </mat-card>
  </mat-card>
</div>


<!--<app-carousel [slides]="images"></app-carousel>-->
