<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=double_arrow" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>

<div class="main-container">
  <div class="container-item">
    <div class="card-container">
      <div class="card">
        <img src="https://cdn.shopify.com/s/files/1/0797/3637/3533/files/2-BIRTHSTONEBRACELETS_BirthstoneBraceletAugustPeridot_14k_Stack2_010.jpg?v=1717088619&width=600&crop=center" class="img-1">
        <img src="https://res.cloudinary.com/kendra-scott/image/upload/q_auto,f_auto,dpr_auto/w_640,h_800,c_fit/Catalogs/kendrascott/8_16_23_demi/kendra-scott-davie-pearl-band-ring-18k-yellow-gold-vermeil-white-pearl-00.jpeg" class="img-2">    
      </div>
      <button mat-raised-button (click)="redirectRingsPage($event)"> {{Constant.titles.rings}}</button>
    </div>
    <div class="card-container">
      <div class="card">
        <img src="https://i.pinimg.com/564x/c3/fc/54/c3fc54ffcd9a6b65007c083b47108c0c.jpg" class="img-1">
        <img src="https://cdn.shopify.com/s/files/1/0797/3637/3533/files/3_Interlock_PaveNecklace_yg_angled.jpg?v=1722523779&width=1000&height=1000&crop=center" class="img-2">
      </div>
      <button mat-raised-button (click)="redirectNecklacesPage($event)">{{Constant.titles.neckless}}</button>
    </div>
    <div class="card-container">
      <div class="card">
        <img src="https://i.pinimg.com/564x/0e/b5/80/0eb580be7461b0cf8e5b336c466ffa9e.jpg" class="img-1">
        <img src="https://cfs3.monicavinader.com/images/pdp-small-large/19669017-gp-ea-trpl-prl-f1.jpg" class="img-2" >
      </div>
      <button mat-raised-button (click)=" redirectEarringsPage($event)">{{Constant.titles.earrings}}</button>
    </div>
    <div class="card-container">
      <div class="card">
        <img src="https://cfs3.monicavinader.com/images/pdp-small-large/12351648-bl-baxa-dia.jpg" class="img-1">      <img src="https://cdn.reiskuyumculuk.com/product/cache/994x663_grand-dia-26130-29-B.webp?2933" class="img-2">
      </div>
      <button mat-raised-button (click)="redirectBraceletPage($event)">{{Constant.titles.bracelets}}</button>
    </div>
  </div>
  <mat-card class="example-card1">
    <mat-card class="first">
      <img mat-card-image src="https://www.nevjewellery.com/Data/BlockUploadData/banner/img1/351/9-tektas-yuzukler-3-tr.jpg?1699342969">
      <img mat-card-image src="https://www.nevjewellery.com/curio-073-ct-baget-pirlanta-tasli-ve-elmas-tasli-beyaz-altin-bileklik-baget-pirlanta-bileklik-ve-bilezik-nev-jewellery-19961-37-O.webp">
    </mat-card>
    <mat-card class="second">
      <img class="middle" src="https://res.cloudinary.com/kendra-scott/image/upload/q_auto,f_auto,dpr_auto/v1733171226/enhancedstorycomponents-imageuploader/TrendReport/2024/Holiday/Holiday%203/YR_Holiday.jpg" alt="neckless">
    </mat-card>
    <app-discountcarousel *ngIf=" discountslide.length > 0" [discountslide]="discountslide"></app-discountcarousel>  
  </mat-card>
</div>
<app-carousel *ngIf="images.length > 0"  [slides]="images"></app-carousel>
<mat-card class="information">
  <mat-card-header>
    <div class="text-order">
    <div class="order-info-img">
      <img src="https://www.nevjewellery.com/theme/v5-nevjewellery/assets/icon/f-icons-1.svg" alt="Gift">
    </div>
    <div class="order-info">
      <p>Gift Packet</p>
      <p>Stylist Packages</p>
    </div>
  </div>
  </mat-card-header>
  <mat-card-header>
    <div class="text-order">
      <div class="order-info-img">
        <img src="https://www.nevjewellery.com/theme/v5-nevjewellery/assets/icon/f-icons-2.svg" alt="Free">
      </div>
      <div class="order-info">
        <p>Free & Insured Shipping</p>
        <p>No Shipping Fee</p>
      </div>
    </div>
  </mat-card-header>
  <mat-card-header>
    <div class="text-order">
      <div class="order-info-img">
        <img src="https://www.nevjewellery.com/theme/v5-nevjewellery/assets/icon/f-icons-3.svg" alt="Certificate">
      </div>
      <div class="order-info">
        <p>Name-Specific Certificates</p>
        <p>Personal Certificates</p>
      </div>
    </div>
  </mat-card-header>
  <mat-card-header >
    <div class="text-order">
      <div class="order-info-img">
        <img src="https://www.nevjewellery.com/theme/v5-nevjewellery/assets/icon/f-icons-4.svg" alt="Certificate">
      </div>
      <div class="order-info">
        <p>14 Days Unconditional Returns</p>
        <p>14 Days Return Guarantee</p>
      </div>
    </div>
  </mat-card-header>
</mat-card>
<mat-card>
  <div class="container">
    <div class="container-end">
      <div class="end">
        <h6>{{Constant.head.categories}}</h6>
        <ul>
          <li>
            <a href="new">{{Constant.categories.new}}</a>
          </li>
          <li>
            <a href="collection">{{Constant.categories.collections}}</a>
          </li>
          <li>
            <a href="ring">{{Constant.categories.rings}}</a>
          </li>
          <li>
            <a href="earring">{{Constant.categories.earrings}}</a>
          </li>
          <li>
            <a href="necklace-pendant">{{Constant.categories.necklaces}}&{{Constant.categories.pendants}}</a>
          </li>
          <li>
            <a href="bracelet">{{Constant.categories.bracelets}}</a>
          </li>
          <li>
            <a href="bridal">{{Constant.categories.bridal}}</a>
          </li>
          <li>
            <a href="gift">{{Constant.categories.gifts}}</a>
          </li>
        </ul>
      </div>
      <div class="end">
        <h6>{{Constant.head.myaccount}}</h6>
        <ul>
          <li>
            <a href="myorders">{{Constant.categories.myorders}}</a>
          </li>
          <li>
            <a href="myaddresses">{{Constant.categories.myaddresses}}</a>
          </li>
          <li>
            <a href="accountinformation">{{Constant.categories.accountinformation}}</a>
          </li>
        </ul>
      </div>
      <div class="subscribe">
        <H6>{{Constant.head.subscribe}}</H6>
        <div class="input-group">
          <input type="text" name="" id="" class="effect-7" placeholder="Name Surname"/>
        </div>
        <div class="input-group">
          <input type="text" name="" id="" class="effect-7" placeholder="E-mail"/>
        </div>
        <div class="btn">
         <button>{{Constant.categories.subscribe}}</button>
        </div>
      </div>
      <div class="end">
        <h6>{{Constant.head.customer}}</h6>
        <ul>
          <li>
            <a href="bank">{{Constant.categories.bank}}</a>
          </li>
          <li>
            <a href="condition">{{Constant.categories.condition}}</a>
          </li>
          <li>
            <a href="return">{{Constant.categories.return}}</a>
          </li>
          <li>
            <a href="clarification">{{Constant.categories.clarification}}</a>
          </li>
          <li>
            <a href="process">{{Constant.categories.process}}</a>
          </li>
          <li>
            <a href="faq">{{Constant.categories.faq}}</a>
          </li>
        </ul>
      </div>
      <div class="end">
        <h6>{{Constant.head.quickacces}}</h6>
        <ul>
          <li>
            <a href="main">{{Constant.categories.main}}</a>
          </li>
          <li>
            <a href="product">{{Constant.categories.product}}</a>
          </li>
          <li>
            <a href="discount">{{Constant.categories.discount}}</a>
          </li>
          <li>
            <a href="mycard">{{Constant.categories.mycard}}</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</mat-card>


