.carousel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-bottom: 20rem !important;
  height: 50%;
  width: 100%;
  padding-left: 20%;
  padding-top: 7%;
   
}
.slide {
  object-fit: cover;
  transition: transform 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
  border-radius: 0.5em;
  width: 350px;
}
.slide:hover {
  transform: scale(1.025);
}
@media screen and (max-width: 425px){
  .slide {
    width: 59%;
    height: 100%;
  }
}
@media screen and (max-width: 768px){
  .slide {
    width: 300px;
    height: 400px;
  }
}
.slider-button{
  margin-top: -19rem;
  position: relative;
  margin-left: -82rem;
  display: flex;
  column-gap: 55rem;
  
}
.slider-button button{
  color: black;
  padding: 0.2rem 1rem 0.2rem 1rem;
  margin: 0.5rem;
  font-family: serif;
  font-size: 15px;
  border-radius: 5px;
}
i {
  color: #e2e2e2!important;
}
.carousel img{
  width: 1000px;
  height: 520px;
  margin-left: -82rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  box-shadow: none;
  background-color: tra;
  transition: opacity 1s ease-in-out;
}
.slider-button button{
  border: none;
  background-color: transparent;
  font-size:xx-large;
  gap: 25rem;
}
.slider-button button:hover{
  background-color: transparent;
}
.discover p{
  margin-left: 40rem;
  margin-bottom: -12rem;
  font-size: larger;
}

section {
  display: table;
  margin-left: 55rem;
  margin-top: 15rem;
}
.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}
.example-button-row {
  display: table-cell;
  max-width: 600px;
}
  
  
