<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=double_arrow" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>


<mat-card class="information">
    <mat-card-header>
      <div class="text-order">
      <div class="order-info-img">
        <img src="https://www.nevjewellery.com/theme/v5-nevjewellery/assets/icon/f-icons-1.svg" alt="Gift">
      </div>
      <div class="order-info">
        <p>Gift Packet</p>
        <p>Stylist Packages</p>
      </div>
    </div>
    </mat-card-header>
    <mat-card-header>
      <div class="text-order">
        <div class="order-info-img">
          <img src="https://www.nevjewellery.com/theme/v5-nevjewellery/assets/icon/f-icons-2.svg" alt="Free">
        </div>
        <div class="order-info">
          <p>Free & Insured Shipping</p>
          <p>No Shipping Fee</p>
        </div>
      </div>
    </mat-card-header>
    <mat-card-header>
      <div class="text-order">
        <div class="order-info-img">
          <img src="https://www.nevjewellery.com/theme/v5-nevjewellery/assets/icon/f-icons-3.svg" alt="Certificate">
        </div>
        <div class="order-info">
          <p>Name-Specific Certificates</p>
          <p>Personal Certificates</p>
        </div>
      </div>
    </mat-card-header>
    <mat-card-header >
      <div class="text-order">
        <div class="order-info-img">
          <img src="https://www.nevjewellery.com/theme/v5-nevjewellery/assets/icon/f-icons-4.svg" alt="Certificate">
        </div>
        <div class="order-info">
          <p>14 Days Unconditional Returns</p>
          <p>14 Days Return Guarantee</p>
        </div>
      </div>
    </mat-card-header>
  </mat-card>
  <mat-card>
    <div class="container">
      <div class="container-end">
        <div class="end">
          <h6>{{Constant.head.categories}}</h6>
          <ul>
            <li>
              <a href="new">{{Constant.categories.new}}</a>
            </li>
            <li>
              <a href="collection">{{Constant.categories.collections}}</a>
            </li>
            <li>
              <a href="ring">{{Constant.categories.rings}}</a>
            </li>
            <li>
              <a href="earring">{{Constant.categories.earrings}}</a>
            </li>
            <li>
              <a href="necklace-pendant">{{Constant.categories.necklaces}}&{{Constant.categories.pendants}}</a>
            </li>
            <li>
              <a href="bracelet">{{Constant.categories.bracelets}}</a>
            </li>
            <li>
              <a href="bridal">{{Constant.categories.bridal}}</a>
            </li>
            <li>
              <a href="gift">{{Constant.categories.gifts}}</a>
            </li>
          </ul>
        </div>
        <div class="end">
          <h6>{{Constant.head.myaccount}}</h6>
          <ul>
            <li>
              <a href="myorders">{{Constant.categories.myorders}}</a>
            </li>
            <li>
              <a href="myaddresses">{{Constant.categories.myaddresses}}</a>
            </li>
            <li>
              <a href="accountinformation">{{Constant.categories.accountinformation}}</a>
            </li>
          </ul>
        </div>
        <div class="subscribe">
          <H6>{{Constant.head.subscribe}}</H6>
          <div class="input-group">
            <input type="text" name="" id="" class="effect-7" placeholder="Name Surname"/>
          </div>
          <div class="input-group">
            <input type="text" name="" id="" class="effect-7" placeholder="E-mail"/>
          </div>
          <div class="btn">
           <button>{{Constant.categories.subscribe}}</button>
          </div>
        </div>
        <div class="end">
          <h6>{{Constant.head.customer}}</h6>
          <ul>
            <li>
              <a href="bank">{{Constant.categories.bank}}</a>
            </li>
            <li>
              <a href="condition">{{Constant.categories.condition}}</a>
            </li>
            <li>
              <a href="return">{{Constant.categories.return}}</a>
            </li>
            <li>
              <a href="clarification">{{Constant.categories.clarification}}</a>
            </li>
            <li>
              <a href="process">{{Constant.categories.process}}</a>
            </li>
            <li>
              <a href="faq">{{Constant.categories.faq}}</a>
            </li>
          </ul>
        </div>
        <div class="end">
          <h6>{{Constant.head.quickacces}}</h6>
          <ul>
            <li>
              <a href="main">{{Constant.categories.main}}</a>
            </li>
            <li>
              <a href="product">{{Constant.categories.product}}</a>
            </li>
            <li>
              <a href="discount">{{Constant.categories.discount}}</a>
            </li>
            <li>
              <a href="mycard">{{Constant.categories.mycard}}</a>
            </li>
          </ul>
        </div>
  
      </div>
    </div>
  </mat-card>
