<div class="main-container">
  <mat-card class="card-container" *ngFor="let item of basketItems">
    <div class="info-container">
      <p style="font-weight: 500">{{item.name}}</p>
      <p style="color: #333;font-size: 14px;line-height: 18px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
        {{item.description}}
      </p>
    </div>
    <div class="counter-container">
      <button mat-icon-button (click)="decrease(item)" [disabled]="count === 1">
        <mat-icon>remove</mat-icon>
      </button>
      <input type="text" [(ngModel)]="count" min="1" style="width: 30px; text-align: center">
      <button mat-icon-button (click)="increase(item)">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div>
      <p style="color: #005cbb; font-weight: 500">{{price !== 0 ? price : item.price}} TL</p>
    </div>
  </mat-card>
</div>
