<div class="main-container">
  


  <div class="first-container">
    <mat-card class="card-container" *ngFor="let item of basketItems">
      <img src="{{item.currentImage}}" alt="{{item.name}}">
      <div class="info-container" style="width: 40%;">
        <p style="font-weight: 500">{{item.name}}</p>
        <p style="color: #333;font-size: 14px;line-height: 18px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
          {{item.description}}
        </p>
      </div>
      <div class="counter-container"  style="width: 15%;">
        <button mat-icon-button (click)="decrease(item)" [disabled]="item.quantity === 1">
          <mat-icon>remove</mat-icon>
        </button>
        <input type="text" [(ngModel)]="item.quantity" min="1" style="width: 30px; text-align: center">
        <button mat-icon-button (click)="increase(item)">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div>
        <p style="color: #005cbb; font-weight: 500">{{price !== 0 ? price : item.price}} $</p>
      </div>
      <button class="trash" mat-icon-button (click)="removeItemFromBasket(item)">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 32 32">
          <path d="M 15 4 C 14.476563 4 13.941406 4.183594 13.5625 4.5625 C 13.183594 4.941406 13 5.476563 13 6 L 13 7 L 7 7 L 7 9 L 8 9 L 8 25 C 8 26.644531 9.355469 28 11 28 L 23 28 C 24.644531 28 26 26.644531 26 25 L 26 9 L 27 9 L 27 7 L 21 7 L 21 6 C 21 5.476563 20.816406 4.941406 20.4375 4.5625 C 20.058594 4.183594 19.523438 4 19 4 Z M 15 6 L 19 6 L 19 7 L 15 7 Z M 10 9 L 24 9 L 24 25 C 24 25.554688 23.554688 26 23 26 L 11 26 C 10.445313 26 10 25.554688 10 25 Z M 12 12 L 12 23 L 14 23 L 14 12 Z M 16 12 L 16 23 L 18 23 L 18 12 Z M 20 12 L 20 23 L 22 23 L 22 12 Z"></path>
          </svg>
        </button>
    </mat-card>
  </div>
 <div  class="second-container">  
    <mat-card class="order">
      <button mat-raised-button class="continue" (click)="continueShopping()">CONTİNUE SHOPPİNG </button>
      <div class="order-info">
        <h5>Order Summery</h5>
        <div style="display: flex; flex-direction: row;">  
          <p style="padding-right: 6rem;">Subtotal:</p>{{getSubtotal()| currency: '$'}}
        </div>
        <div style="display: flex; flex-direction: row;">
          <p style="padding-right: 6rem;">Shipping:</p>{{getShipping()  | currency: '$'}}
        </div>
        <br>
        <br>
        <div style="display: flex; flex-direction: row;">
          <p style="font-weight:600; padding-right: 8rem;">Total:</p>{{getTotal() | currency: '$'}}
        </div>        
        </div>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-description>
            Add a promo code
            <span class="material-symbols-outlined"></span>
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        <mat-form-field>
          <mat-label>Code</mat-label>
          <input matInput readonly />
        </mat-form-field>
        <mat-datepicker #picker></mat-datepicker>
    
        <mat-action-row>
          <button mat-button>APPLY</button>
        </mat-action-row>
      </mat-expansion-panel>
      <button mat-raised-button class="pay">PAY</button>
    </mat-card>
  </div>
  
  
</div>

