.main-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-wrap: break-word;
    word-break: break-word;
    .account-info{
        width: 90%;
        height: 21%;
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        top: 1%;
        padding-left: 7%;
        padding-right: 7%;
        .user-icon{
            width: 30%;;
            height: 70%;
            padding-left: 2%;
            padding-right: 2%;
            display: flex;
            flex-direction: column;
            padding-top: 1%;
            align-items: anchor-center;
            gap: 3%;
            background-color: #e5e8e8;
            border-radius: 40px;
            img{
                width: 26%;
            }
        }
        .account{
            width: 30%;
            height: 70%;
            background-color: #e5e8e8;
            border-radius: 40px;
            padding-left: 8%;
            padding-top: 2.75%;
        .account-icon{
            padding-left: 10%;
            }
            button{
            border: none;
            background-color: transparent;
            display: flex;
            flex-direction: column;
            }
        }
        .personal-info {
            width: 30%;
            height: 70%;
            background-color: #e5e8e8;
            border-radius: 40px;
            padding-left: 3%;
            padding-top: 2.75%;
            button{
            border: none;
            background-color: transparent;
            }
            .personal-icon{
                padding-left: 30%;
            }
        }
        .message{
            width: 30%;
            height: 70%;
            background-color: #e5e8e8;
            border-radius: 40px;
            padding-left: 8%;
            padding-top: 2.75%;
            .message-icon{
                padding-left: 12%;
            }
            button{
            border: none;
            background-color: transparent;
            display: flex;
            flex-direction: column;
            }
        }
        .sign-out{
            width: 30%;
            height: 70%;
            background-color: #e5e8e8;
            border-radius: 40px;
            padding-left: 8%;
            padding-top: 2.75%;
            .sign-out-icon{
                padding-left: 16%;
            }
            button{
            border: none;
            background-color: transparent;
            display: flex;
            flex-direction: column;
            }
        }
    }

    .total-template{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        .image{
            width: 25%;
            height: 100%;
            background-color: aquamarine;
        }
        .div-template{
            width: 100%;
            height: 100%;
           .favorites{
            height: 100%;
           }
        }
    }
}