<div class="main-container">
    <div class="first-bar">
        <section>
            <div class="example-button-new">
                <div class="example-flex-container">
                <button matFab extended>
                    <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#000000"><path d="M446.67-446.67H200v-66.66h246.67V-760h66.66v246.67H760v66.66H513.33V-200h-66.66v-246.67Z"/></svg>
                    New Message
                </button>
                </div>
            </div>
        </section>

    </div>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="My Message">
            <form class="example-form" #form="ngForm">
            
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Subject</mat-label>
                <input matInput name="subject" ngModel required>
                <mat-error *ngIf="form.submitted && form.controls['subject']?.invalid">
                Subject is required.
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Type your message here!</mat-label>
                <textarea matInput name="message" ngModel required></textarea>
                <mat-error *ngIf="form.submitted && form.controls['message']?.invalid">
                Message is required.
                </mat-error>
            </mat-form-field>

                    <section>
                <div class="example-button-row">
                    <div class="example-flex-container">
                    <button matFab extended>
                        SEND
                    </button>
                    
                    
                    </div>
                </div>
                </section>

            </form>
        </mat-tab>
    </mat-tab-group>

</div>



