.main-container {
  padding-bottom: 5%;
  background-color: whitesmoke;
  
  .sub-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;

    .categories-name{
      margin-bottom: 0!important;
    }
    ::ng-deep .mdc-line-ripple  {
      display: none;
    }
    ::ng-deep.mat-mdc-text-field-wrapper{
      background-color: write;
    }
  }  
   

  .card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 60%;
    margin-left: 20%;
    .product-card{
      flex: 0 0 calc(25% - 20px); 
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 8%;
      height: 470px;
      gap: 15px;
      p{
        min-height: 50px;
      }
    

      & img {
        width: 95%;
        padding-top: 2%;

      }
    }
  }
 
}






