<div class="main-container">
  <div class="sub-title">
    <h5 class="categories-name">{{Constant.titles.rings}}</h5>
  </div>

  <div class="card-container" *ngIf="products && products.length > 0; else noProducts">
    <mat-card class="product-card" *ngFor="let product of products">
      <img src="{{product.currentImage}}" alt="{{product.name}}">
      <p style="text-align: center">{{product.name}}</p>
      <div style="display: flex; align-items: center; justify-content: space-between">
        <p style="margin: 0!important;">{{product.price}}$</p>
        <button (click)="addToCard(product)" mat-button>{{Constant.ADD_TO_CARD}}</button>
      </div>
    </mat-card>
  </div>

  <div *ngIf="!products || products.length === 0">
    <p>{{Constant.errorMessage.NO_PRODUCT}}</p>
  </div>
</div>

