.main-container{
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    .track-package{
        width: 50%;
        font-size: large;
        background-color: #eaecee ;
        padding: 1%;
        margin-left: 20%;
        border-radius: 3%;
        .track-package-head{
            display: flex;
            flex-direction: row;
            gap: 1%;
            justify-content: center;
            svg{
                filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.4));
            }
            p{
                font-weight: 500;
                padding-top: 0.75%;
            }
        }
        .track-package-input{
            padding-left: 37%;
            .example-form {
                min-width: 150px;
                max-width: 500px;
                width: 100%;
              }

            .example-full-width {
               width: 100%;
               display: flex;
               flex-direction: row;
               padding: 1.5%;
            }
           .input-icon{
                display: flex !important;
                flex-direction: row !important;
           }
           .example-full-width-button{
            padding-left: 17%;
           }
                
        }
    }
    .account-buttons{
        margin-top: 5%;
        padding-left: 4%;
        padding-right: 4%;
        display: flex;
        flex-direction: row;
        gap: 15%;
        .account-buttons-first{
            display: flex;
            flex-direction: row;
            width: 20%;
            height: 60%;
            background-color: #eaecee;
            padding: 1%;
            gap: 10%;
                justify-content: start;
            .icon{
                width: 20%;
                height: 100%;
                padding-left: 4.5%;
                border-radius: 40%;
                svg{
                    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.4));
                }
            }
            p{
                padding-top: 4%;
                font-size: large;
                font-weight: bold;
            }
        }
    }
}
