<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>


<mat-toolbar>
  <div class="logo" style="position: relative; width: 9rem; height: 1.5rem; padding-top: 20%;
  padding-bottom: 0; margin-top: 0.1rem;margin-left: 0rem; margin-bottom: 0.001rem; overflow: hidden;
  border-radius: 8px; will-change: transform;">
    <iframe  style="position: absolute; width: 100px; height: 100px; top: 0; left: 0; border: none; padding: 0;margin-left: 40px; margin-top: 1.2rem;"
      src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAGJPNgbrY4&#x2F;R4NTBgFHX0EmB2hL1yhuCg&#x2F;view?embed">
    </iframe>
  </div>
  <a style="border: none;" href=
  "https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAGJPNgbrY4&#x2F;R4NTBgFHX0EmB2hL1yhuCg&#x2F;view?utm_content=DAGJPNgbrY4&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" 
  ></a>
  <section>
    <div class="example-button-row">
      <button mat-button color="primary">HOME</button>
      <button mat-button color="primary">SHOPPİNG CARD</button>
      <button mat-button color="primary">PRODUCT</button>
      
    </div>
  </section>
  <form class="example-form">
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Search <i class="fa-sharp fa-thin fa-magnifying-glass fa-fade"></i></mat-label>
            <input matInput>
            
          </mat-form-field>
        </td>
      </tr>
    </table>
  </form>
  <section class="sec1">
    <div class="example-button-row">
      <button mat-button color="primary" (click)="onLogin()">LOGİN</button>
      <button mat-button color="primary">LOGOUT</button>      
    </div>
  </section>  
</mat-toolbar>



  