.main-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 4%;
    padding-right: 4%;
    height: 100%;
    hr{
      position: relative;
      top: 1rem;
    }
}


section {
  display: flex;
  align-items: center;
}

.back{
  height: 12%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .back-first{
    display: flex;
      font-size: x-large;
    }
    .example-button-row {
    max-width: 300%;
        .example-flex-container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            a{
                font-size: medium;
                color: black;
                background-color: transparent;
                border-radius: 8%;
                &:hover{
                background-color: #e5e8e8;
                } 
            }
            mat-icon{
                margin: 0 !important;
            }
            
        }
        
    }
}



.add-product{
    flex-direction: row;
    width: 70%;
    border: 2px;
    left: 5%;
    height: 12%;
    border-radius: 2%;
    mat-card{
        box-shadow: var(--mat-card-elevated-container-elevation);
        width: 100%;
    }
    button{
      padding-top: 5%;
    }   
}
.card-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.5%;
    gap: 3%;
    width: 70%;
    border-radius: 1rem;
    margin-bottom: 1.5%;
   
    .image-container{
        
        width: 18%;
        padding: 1%;
        & img {
        border: 1px solid #e0e0e0; 
        width: 85%;
        }
    }
    
    section{
        padding-top: 3.5%;
    }
    button{
        background-color: transparent;
        border: none;
    }
    .trash{
        border: none;
        background-color: transparent;
        &:hover{
          background-color: #dfe4e6;
          border-radius: 12px;
        }
    }
    


}
.info-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 1.75rem;
    gap: 4rem;
    p{
        padding-top: 4%;
    }
    .product-name {
        font-weight: 500;
        flex: 1; 
        margin-right: 2rem; 
    }

    .product-price {
        color: #005cbb;
        font-weight: 500;
        width: 80px; 
        text-align: right;
    }
    .mat-ripple mat-mdc-button-ripple{
        position: inherit;
    }
   
}
.button-bottom{
    display: flex;
    flex-direction: row;
    gap: 3%;
    button{
        padding-top: 0.5%;
        display: flex;
        flex-direction: row;
        background-color: transparent;
        box-shadow: var(--mat-card-elevated-container-elevation);
        font-size: large;        
        &:hover{
            background-color: #e5e8e8;
        }
        svg{
            padding-right: 1%;
        }
        .text{
            padding-top: 1.5%
        }
    }
}
.no-products-text{
    position: relative;
    top: 20%;
    font-size: large;
}